# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/vento

/venv310
/venv311

scripts/__pycache__

pdfs

lib/credentials.json
lib/oauth_credentials.json
lib/gcs-storage-key.json
lib/token.pickle
lib/token.json
scripts/VM/credentials.json
scripts/VM/token.json
scripts/VM/token.pickle
token.pickle
*.json.bak
**/credentials*.json
**/token*.json
**/token*.pickle

scripts/api/__pycache__

/.claude
# LangGraph API
.langgraph_api
