# Para instalar los paquetes, ejecuta:
# pip install -r requirements.txt

pandas
numpy
reportlab
requests
mysql-connector-python
sqlalchemy
python-dotenv
fastapi
uvicorn
pydantic
playwright
paho-mqtt
pytz
google-cloud-bigquery
google-api-python-client
google-auth
google-auth-oauthlib
twilio
pydantic[email]
statsmodels
pmdarima
matplotlib
weasyprint
langchain
langchain-openai
langchain-core
langchain-community
langgraph
google-cloud-storage